@tailwind utilities;
@tailwind components;
@tailwind base;

@layer utilities {
  .tracking-\[-2\%\] {
    letter-spacing: -2%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
